.container{
    height: 1005px;
    width: 100%;
    background-color: whitesmoke;
    margin: auto;
}
.header
{
    height:76px;
    width: 100%;
    border-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: black;
    
}

#heading{
    position: relative;
    left:40px;
    margin-bottom: 10px;
    width: 60%;
    height:28%;
    display:inline-block;
        
    
}
.one_line{
    width: 40%;
height: 22%;
position: relative;
bottom: 18px;
left: 743px;
display: inline-block;

margin: 5px;
color: skyblue
}
#navigation_Bar{
    width:100%;
    height:20%;
    border-style: none;
    border-width: 3px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
#text{
    float:right;
    position: relative;
   
bottom: 186px;
right: 75px;
}  
.block1{
    height: 871px;
    width: 70%;
    border:4px whitesmoke solid;
    position: relative;
    left:366px;
    display:block;
    bottom:154px;
}
.article_1{
    
    height: 370px;
    width: 70%;
    
    position: relative;
    left: 2px;
    display: block;
    top: 30px;
    margin-left: 20px;


    border-bottom-style: solid;
border-bottom-width: 2px;
border-bottom-color: lightgrey;
border-left-width:2px ;

}

.aside{
    height: 871px;
    width: 29%;
    border: 4px grey solid;
    background-color: grey;
    position: relative;
    display: inline-block;
    bottom: 1033px;
}
.border-block{
    height: 422px;
    width: 70%;
    border: 4px whitesmoke solid;
    position: relative;
    left: 1px;
    margin-top: 20px;
    display: block;
    top: 31px;
    margin-left: 20px;

}
.article_2{
    height: 223px;
    width: 30%;
    border: 4px lightgray solid;
    position: relative;
    display: inline-block;
    margin-left: 20px;
    top: 45px;
}

.article_3{
    height: 229px;
width: 30%;
border: 4px lightgray solid;
position: relative;
display: inline-block;
top: 13px;
left: 150px;
}





a:link {
    color: green;
  }

  a:visited {
    color: skyblue;

  }
  a:hover {
    color: red;
  }
  a:active {
    color: yellow;
  } 

  #heading a{
    color:skyblue;
    text-decoration: none;
  }
  .image1{
      margin:20px;
      position: relative;
        right: 10px;
  }
  .article_top1{
    height: 106px;
border-bottom-style: solid;
border-bottom-width: 3px;
border-bottom-color: lightgrey;
position: relative;
top: 30px;
width: 95%;
margin: 20px;
right: 10px;
}
.article_top3{
    height: 250px;
    position: relative;
    top: 40px;
    margin: 20px;
}

a{
    text-decoration: none;
}