.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  input[type=submit] {
    background-color: #ddf129;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    position: relative;
    left:60px;
  }
  .form-group1 {
    margin-right: 20px;
  }
  .row {
    content: "";
    display: table;
    clear: both;
  }
  input[type=text], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  .dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
  }
  * {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';font-size: 15px;
    color: #000000;
}



.container {
    width: 1200px;
    margin: auto;
    border: 1px #000000 solid;
    height: 1500px;
    background-color: #fff8dc;

}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
    text-align: left;
  }
  #show {
    width: 100%;    
    background-color: #dada6e;
    position:relative;
    top:40px;
  }
  h1{
      text-align: center;
        color: #00008b;
        font-size: 31px;
        position: relative;
        margin: 10px;
    }
  
  label{
      position:relative;
      left:20px;
      color: #0000ff;
  }
  