* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';font-size: 15px;
    color: #000000;
}



.container {
    width: 1200px;
    margin: auto;
    border: 1px #000000 solid;
    background-color:#808080;
}
.header{
    width: 96%;
    margin: auto;
    margin-top: 10px;
    height: 77px;
    border: 1px #000000 solid;
    
}
h1 {
    display: inline-block;
    margin: 0px;
    margin-left: 11%;
    vertical-align: top;
    text-align: center;
}
 .nav-bar {
    overflow: hidden;
    background-color: #333;
   
    
  }
  
  .nav-bar a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .nav-bar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .nav-bar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  
  .logo,.nav-bar{
      display: inline-block;
    
  }
  .logo{
      width:40%;
      float:left;
  }
  .nav-bar{
      width:60%;
  }



  .contain-1,
.box-1,
.box-2,
.infobox-1,
.smallbox-content,
.infobox-2,
.country-list,
.contain-2,
.contain-2-1,
.contain-2-2{
    border: 1px #000000 solid;
    margin: 20px;
}

.contain-1,.contain-2{
    display:inline-block;
   
        width: 96%;
}
.box-1,.box-2{
    display:block;
}
.infobox-1,.infobox-2{
    display:inline-block;
}
  .smallbox-content{
    display: inline-block;
    width: 44.5%;
}
.infobox-1{
    width: 62%;
    vertical-align: top;
}
.infobox-2{
    width:28%
}

.social-media-image,
span {
    display: block;
    margin: auto;
}

span {
    vertical-align: text-top;
}
.social-media-image {
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.smallbox-content {
    display: inline-block;
    width: 41.5%;
}
.social-media-image {
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.link {
    display: block;
text-align: center;
margin-bottom: 10px;
margin-top: 10px;
}
h4{
    text-align: center;
}
h3{
    text-align: center; 
}
p{
    position: relative;
    left:10px;
    font-size: 21px;
    letter-spacing: 0.137em;
}
.country-list a {
    display: block; 
    text-align: center;
margin-bottom: 5px;
margin-top: 5px;
}
.big_heading {
    margin-left: 34%;
}
.para{
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.06em;
}

.contain-2-1,.contain-2-2{
    display:block;
    width: 96%;
}
.aboutus_link,.market_link{
   
    display:inline-block;
    margin: 10px;
    
}

.platforms,.contact-part{
   
    display:inline-block;
   
       margin: 10px;
}
.part-1,.part-2{
    display:inline-block;
    
}
.part-1{
    width:50%;
    
}
.part-1{
    width:49%;
    
}




.default-links,.global_button{
    display: inline-block;
}

.default-links{
    width:70%;

}
.global_button{
    width: 29%;
}
.default-links a {
    float: left;
    
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .global_button {
    width: 166px;
    position: relative;
    bottom: 33px;
  }

  .contain-2-2{
      border-top-width: 2px;
      border-bottom-width: 2px;
  }
  .padd-box{
      border:2px black solid;
      padding-bottom: 2px;
      padding-right:2px ;
     
        width: 38%;
        height: 54px;
        margin: 9px;
        position: relative;
        left: 74px;
        background-color: #a9a9a9;
  }

  .contain-2{
      background-color: #fff8dc;
  }