* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';font-size: 15px;
    color: #000000;
}



.container {
    width: 1200px;
    margin: auto;
    border: 1px #000000 solid;
    background-image: url('images1/back.jpg');

}
.header{
    width: 97%;
    margin: auto;
    margin-top: 10px;
    height: 77px;
    border: 1px #000000 solid;
    background-image: url('images1/header2.jpg');
}
.logo{
    width: 50px;
    height:50px;
    margin:10px;
}


.box-1,
.box-2,

.smallbox-content{
    border: 1px #000000 solid;
    margin: 20px;
}

.box-1,.box-2{
    display:inline-block;
    background: #f49e01;
}



.box-1{
    
    width: 44%;
    vertical-align: top;
}

.box-2{
    
    width: 48%;
    vertical-align: top;
}
.smallbox-content {
    display: inline-block;
    width: 41.5%;
    border-color:  #f49e01;
}
.social-media-image{
    display: block;
    margin: auto;
}
.social-media-image {
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-bottom: 15px;
}


.smallbox-content{
    display: inline-block;
    width: 41.5%;
}
.header,.contain-1{
    display: block;
}
.social-media-image {
    height: 75px;
    width: 104px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px black solid;
}

.contain-1 {
    width: 97%;
}

h1 {
    display: inline-block;
    margin: 0px;
    margin-left: 39%;
    vertical-align: top;
    text-align: center;
    font-size: 44px;
font-style: normal;
color: #e10a32db;
}

p{
    text-align: center;
    font-size: 29px;
}
.vertical-center {
    margin: 0;
    position: relative;
    top: -2%;
    
    left: 521px;
    bottom: 11px;
  }