.container {
    margin: auto;
    width: 1000px;
}

header {
    text-align: center;
}

.countdown-clock,
.score {
    display: inline-block;
    width: 49%;
    text-align: center;
}

.scoreboard {
    font-size: 18px;
}

.play-area {
    height: 600px;
    width: 800px;
    border: 1px solid #000000;
    margin: auto;
    position: relative;
}

.red-circle {
    background-color: #ff0000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.violet-circle {
    background-color: violet;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.green-circle {
    background-color: #00ff00;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

.yellow-circle {
    background-color: yellow;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.blue-circle {
    background-color: #0000ff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

