* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';font-size: 20px;
    color: #000000;
}



.container {
    width: 1000px;
    margin: auto;
    border: 1px #000000 solid;
}

.logo {
    width: 55px;
    height: 55px;
}
.header {
    width: 70%;
    margin: auto;
    margin-top: 20px;
}

h1 {
    display: inline-block;
    margin: 0px;
    margin-left: 11%;
    vertical-align: top;
}
.message,h2{
text-align: center;
}

nav, .search-bar {
    display: inline-block;
}

nav{
    width:80%;
}
li {
    display: inline-block;
}
.main-content,
.national-services,
.contact-details,
.address-details,
.social-media,
.social-media-contact{
    border: 1px #000000 solid;
    margin: 10px;
}
.national-services,
.contact-details{
    display:inline-block;
}

.national-services {
    width: 50%;
    vertical-align: top;
}

.contact-details {
    width: 45%;
}

.services-logo {
    height: 200px;
    display: block;
    margin: auto;
}
.link {
    display: block;
text-align: center;
margin-bottom: 20px;
margin-top: 10px;
}
h3, address {
    margin: 11px;
}
ul {
    margin-left: 43%;
}
.social-media-image,
span {
    display: block;
    margin: auto;
}

span {
    text-align: center;
}
.social-media-image {
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.social-media-contact {
    display: inline-block;
    width: 44.5%;
}

.logo,h1{
    display: inline;
}