

body {
    font-family: 'Open Sans';font-size: 20px;
    color:#6d2828;
}



.container{
    width: 1000px;
    margin :auto;
    border:1px #000000 solid;
    background-image: url("images1/aks.jpg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    height: 635px;
    
}
.header{
    width: 98%;
    margin:auto;
    margin-top:20px;
    border:1px #000000 solid;
    background-color: black;
}
h1 {
    display: inline-block;
    margin: 0px;
    margin-left: 38%;
    vertical-align: top;
    color: #6d2828;
    font-size: 341%;
   
}
.logo{
    width: 50px;
    height:50px;
    margin:10px;
    

}

.felid {
  width:60%;
    margin: 70px;
    height: 238px;
      display: inline-block;
  
}
