*{
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans';font-size: 20px;
    color:#6d2828;
}



.container{
    width: 1000px;
    margin :auto;
    border:1px #000000 solid;
    background-image: url("images1/aks.jpg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    height:635px;
    
}
.header{
    width: 98%;
    margin:auto;
    margin-top:20px;
    border:1px #000000 solid;
    background-color: black;
}
h1 {
    display: inline-block;
    margin: 0px;
    margin-left: 38%;
    vertical-align: top;
    color: #6d2828;
    font-size: 341%;
   
}
.logo{
    width: 50px;
    height:50px;
    margin:10px;
    

}
.main-block{


    border: 1px #ffffff solid;
    margin: 10px;
}
.side-info,.intro{
display:inline-block;
height:437px;
}
.side-info{
    width: 45%;
    vertical-align: top;
    border-radius: 25px;

    border: 1px  #6d2828 solid ;
    padding: 20px; 
    margin:10px;
    
}
.intro{
    width:50%;
    border: 1px #6d2828 solid;
    margin: 10px;
    border-style: dashed;

}
.link{
    display: block;
    text-align: center;
    margin-bottom: 40px;
    color:#6d2828;
}
ul {
    margin-right: 25%;
}
.intro-block{
    overflow-y: auto;
    height: 168px;
  width: 345px;  
  margin: auto;
  position: relative;
bottom: 11px;
border: 1px #000000 solid;
background-color: whitesmoke;
columns: #6d2828;

}
h2{
    text-align: center;
    
}
a:link {
    color: green;
  }

  a:visited {
    color:red;
  }
  a:hover {
    color: blue;
  }

  a:active {
    color: yellow;
  }


  .blue{
    color:#0000ff;
}
.red{
    color:#ff0000;
}
 