*{
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';font-size: 20px;
    color:#6d2828;
}




.container{
    width: 1000px;
    margin :auto;
    border:1px #000000 solid;
    background-image: url("images1/aks.jpg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    
}
.header{
    width: 98%;
    margin:auto;
    margin-top:20px;
    border:1px #000000 solid;
    background-color: black;
}
h1 {
    display: inline-block;
    margin: 0px;
    margin-left: 38%;
    vertical-align: top;
    color: #6d2828;
    font-size: 341%;
   
}
.logo{
    width: 50px;
    height:50px;
    margin:10px;
    

}
.block,
.address-details
{
    border: 1px #000000 solid;
      margin: 10px;
     
  }
  .address-details{
      width: 66%;
      margin: auto;
      position: relative;
      bottom:20px;
      background-color:#cccccc;
      text-align: center;
      opacity: 0.9;
  }
  .header,
  .block{
      display: block;
  }
  .link{
      color:green;
      margin-bottom: 20px;
      display: block;
      margin-top: 20px;
  }
  h2{
      position: relative;
      left:73px;
  }
 