*{
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';font-size: 20px;
    color:#6d2828;
}




.container{
    width: 1000px;
    margin :auto;
    border:1px #000000 solid;
    background-image: url("images1/aks.jpg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    
}
.header{
    width: 98%;
    margin:auto;
    margin-top:20px;
    border:1px #000000 solid;
    background-color: black;
}
h1 {
    display: inline-block;
    margin: 0px;
    margin-left: 38%;
    vertical-align: top;
    color: #6d2828;
    font-size: 341%;
   
}
.logo{
    width: 50px;
    height:50px;
    margin:10px;
    

}
.main-block,
.about-us-block,
.para-about-us,
.image-cat
{
  border: 1px #000000 solid;
    margin: 10px;
}
.about-us-block,
.image-cat{
    display:inline-block;
}

.about-us-block {
    width: 57%;
    vertical-align: top;
}

.imag-cat {
    width: 45%;
   
    display: block;
}
.aks-photo{
    width:370px;
    height:398px;
}
h2{
    text-align: center;
}
.about-us-block,
.para-about-us,
.image-cat{
    border-color: white;
}
.blue{
    color:#0000ff;
}
.red{
    color:#ff0000;
}