.container{
  width:999px;
  height:550px ;
  margin:auto ;
  border:5px black solid ;
  
  }
  .aside{
    height:100% ;
    background-color:blue ;
    width:42%;
    display : inline-block;
    
    position: relative;
    right: 299px;
    bottom: 496px;
  }
  .articles{
      width: 70%;
  background-color: whitesmoke;
  height: 100%;
  display: inline-block;
    
      position: relative;
      left: 299px;
      right: 120px;
  }
  .heading2{
position: relative;
left:120px;
top:123px;
color:white;
  }
.button1{
  position: relative;
  left: 182px;
  top: 111px;
  background-color: blue;
  color:white;
}
.heading3{
  position: relative;

left: 100px;
top: 119px;
color: white;
}

.button2{
  position: relative;
  left: 23px;
  top: 111px;
  background-color:blue;
  color:white;
}
.blue{
  background-color: blue;
    color:white;
    display :inline-block;
}
.green{
  background-color: green;
    color:white;
    disply :inline;
} 
.red{
  background-color: red;
  color:white;
  disply:inline;
}
.section{
  border-bottom: 5px solid lightslategray;
  width: 90%;
  margin-left: 10px;
  color:lightslategray;
}

.span_tag{
  color:blue;
}
.heading_1{
  margin-left:20px;
   margin-top: 10px;
   margin-bottom: 10px;
}
.sub{
  margin-left:20px;
   margin-top: 5px;
   margin-bottom: 10px;
}

.para{
  margin-left:20px;
  margin-top: 10px;
  margin-bottom: 10px;
}