.container{
    background-color:whitesmoke;
    width:  100%;
    height:100%;
    margin: auto;
    border:5px orange solid;
    padding: 10px;
}
.details{
width: 50%;
display: inline-block;

position: relative;
left: 20px;
 margin-bottom: 10px;
}
.details_value{
width : 49%;
display:inline-block;

position: relative;
left: 10Px;
bottom: 7px;
}
.image{
    width: 29%;
    border:2px black solid;
    display: inline-block;
    
}

.block1{
    width:70%;
    height: 25%;
    display: inline-block;
    margin-left: 30px;
    margin-right: 40px;
    margin-bottom: 10px;
    margin-top: 20px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: orange;
}
.block2{
    width:100%;
    height:25%;
    display: block;
    margin-left: 30px;
    margin-right: 40px;
    margin-bottom: 10px;
    margin-top: 20px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: orange;
}


.block3{
    width:100%;
    height:25%;
    display: block;
    margin-left: 30px;
    margin-right: 40px;
    margin-bottom: 10px;
    margin-top: 20px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: orange;

}

.block4{
    width:100%;
    height: 25%;
    display: block;
    margin-left: 30px;
    margin-right: 40px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.detail_block2{
width: 30%;
display: inline-block;

position: relative;
left: 50px;
 margin-bottom: 10px;
}
.details_value_block2{
    width : 69%;
display:inline-block;

position: relative;
left: 100Px;
bottom: 18px;
}
.details_block3{
    width: 40%;
display: inline-block;

position: relative;
left: 20px;
 margin-bottom: 10px;
}
.details_value_block3{
    width : 58%;
display:inline-block;

position: relative;
left: 100Px;
bottom: 29px;
}


.details1{
    width: 50%;
    display: inline-block;
}
.details_value1{
    width: 48%;
    display: inline-block;
}
ul.a {
    list-style-type: circle;
  }
  
