.container{
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    margin: auto;
}
.header
{
    height:30%;
    width: 100%;
    border-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: black;
}

#heading{
    position: relative;
    left:40px;
    margin-bottom: 10px;
    width: 60%;
    height:28%;
    
        
    
}
.one_line{
    width: 40%;
height: 22%;
position: relative;

bottom: 50px;
left: 769px;

}
#navigation_Bar{
    width:100%;
    height:20%;
    border-style: none;
    border-width: 3px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
#text{
    float:right;
    position: relative;
   
bottom: 40px;
right: 30px;
}  
.block1{
    height: 100%;
    width: 70%;
    border:4px black solid;
    position: relative;
    left:366px;
    display:block;
}
.article_1{
    
        height: 50%;
        width: 68%;
        border: 4px black solid;
        position: relative;
        left: 120px;
        
        display: block;
        top: 30px;
        margin: 20px;
}

.aside{
    height: 100%;
width: 30%;
border: 4px black solid;

background-color: grey;
position: relative;
top:40px;
right: 814px;
bottom: 1144px;
display:inline-block;
}
.block_block1{
    height: 50%;
    width: 70%;
    border: 4px black solid;
    position: relative;
    left: 120px;
    margin-top: 30px;
    display:block;
}
.article_2{
    height: 49%;
    width: 30%;
    border: 4px black solid;
    position: relative;
   
    display:inline-block;
}

.article_3{
    height: 44%;
    width: 30%;
    border: 4px black solid;
    position: relative;
    
    display:inline-block;
}

a:link {
    color: green;
  }

  a:visited {
    color: green;
  }
  a:hover {
    color: red;
  }
  a:active {
    color: yellow;
  } 

  #heading a{
    color:skyblue;
    text-decoration: none;
  }