.container{
    background-color: aqua;
    width: 100%;
    height:1000px;
    margin: auto;
    border:5px black solid;
    background-image:url("images1/garage.jpg");
    background-size : auto;


}

.header{
    border: 3px black solid;
text-align: center;
padding: ;
padding-bottom: 3px;
padding-left: 3px;
padding-top: 3px;
padding-right: 3px;
background-color: gray;
}
.map{
        
  border: 3px black solid;

    background-color: yellow;
    color:blue;
    display: block;
    height:17.33px;
    width:114.65 px;
    display:inline-block;
    position: relative;
    left: 180px;
      
      
}

.photo{
display:inline-block;
position: relative;
left: 30px;
top:50px;
}

.sub_container1{
    border: 3px black solid;
   height: 45%;
    width: 20%;
    display : inline-block;
    background-color: azure;
    margin-top: 30px;
margin-right: 30px;
margin-left: 60px;
margin-bottom: 30px;
position: relative;
top: 174px;
}
.sub_container2{
    border: 3px black solid;
   height: 45%;
    width: 20%;
    display : inline-block;
    background-color: azure;
    margin-top: 30px;
margin-right: 30px;
margin-left: 60px;
margin-bottom: 30px;
position: relative;
top: 174px;
}
.sub_container3{
    border: 3px black solid;
   height: 45%;
    width: 20%;
    display : inline-block;
    background-color: azure;
    margin-top: 30px;
margin-right: 30px;
margin-left: 60px;
margin-bottom: 30px;
position: relative;
top: 173px;
}


.upper_block{
   display:block;
   border:2px black solid;
   border-style: solid;
   width: 544.67px;
height: 148.333px;
margin-top: 30px;
position: relative;
left:50px;
background-color:white;
}

.image_contain{
    border:2px black solid;
    position: relative;
    left:50 px;
    top:10px;
right:8px;
bottom:70px;
margin-left: 30px;
margin-right: 30px;
width:140.333px;
height:73.667px;
display:block;
margin-bottom:28px;
}

.list{
    width: 187.333px;
    height: 97px;
    position: relative;
    left: 21px;
    bottom: 10px;
    margin-top: 10px;
    background-color: lightblue;
display:block;
border:2px black solid;
top:44px;
}

a:link {
    text-decoration: none;
  }