.container{
    width:100%;
    height:600px;
    
}
#header{
    width:100%;
    height:100px;
    background-color: #87ceeb;
}
#block-2{
    width: 30%;
height: 577px;
position: relative;
background-color: #f08080;

bottom: 0px;
float: right;
}
#block-1{
width:70%;
height:577px;
background-color: #00ff7f;
display:inline-block;
}
.text-block1{
    width: 95%;
height: 250px;
border: 3px #ffffff solid;
background-color: white;
display: block;
margin: auto;
position: relative;
top: 21px;
right: 30px;
left: -1px;
}

.text-block2{
    width: 95%;
height: 250px;
border: 3px #ffffff solid;
background-color: white;
display: block;
margin: auto;
position: relative;
top: 43px;
}

.serif {
    font-family: "Times New Roman", Title, serif;
  }

  p {
    font-size: 0.875em; /* 14px/16=0.875em */
    position: relative;
    left:10px;
  }

  h2 {
    font-size: 1.875em; /* 30px/16=1.875em */
    position: relative;
    left:20px;
   }

   h1 {
    font-size: 2.5em; /* 40px/16=2.5em */
    position: relative;
    left:20px;
  }
  