* {
    box-sizing: border-box;
}
.container{
    width: 100%;
    height:1000px;
    margin:auto;
    background-color:#000000;
    border:2px #000000 solid;
}
.big-block,.small-block{
    display:block;
}

.big-block{
    width: 100%;
    height:700px;
   
    background-color:#000000;
   
}
.small-block{
    width: 100%;
    height:299px;
   
    background-color:#000000;
    
}
.big-block,.big-block-split{
    display:inline-block;
}
.big-block-red{
    width: 70%;
    height: 676px;

    border: 2px black solid;
    background-color: red;
    float: right;
    margin: 1%;
}
.big-block-split{
    width:26%;
    height: 676px;
 border: 2px black solid;
 margin: 1%;
}

.split-1,.split-2{
    display:block;
}

    .split-1 {
        width: 98%;
        height: 301px;
        border: 2px black solid;
        margin-bottom: 13%;
        background-color: seashell;
}
.split-2{
    width: 98%;
        height: 335px;
        border: 2px black solid;
        margin: 1%;
        background-color: seashell;
}

.block-blue,.long-block{
    display:inline-block;

}

.long-block{
    width: 70%;
    height:299px;
    margin: 2px;
    border: 2px black solid;
}

.block-blue{
    width:26%;
    height:289px;
    margin: 2px;
    border: 2px black solid;
    background-color:#4682b4 ;
}
.long-block-1,.long-block-2{
    display:inline-block;
}
.long-block-1{
    width:86%;
    height:289px; 
    margin: 2px;
    border: 2px black solid;
    background-color:seashell ;
}
.long-block-2{
    width:12%;
    height:289px; 
    margin: 2px;
    border: 2px black solid;
    
}

.long-block-w,.long-block-y{
display:block;
}
.long-block-w{
    
        width: 82%;
        height: 143px;
        margin: 9px;
        border: 2px black solid;
        background-color: #fff5ee;
}
.long-block-y{
    width: 82%;
height: 107px;
margin: 9px;
border: 2px black solid;
background-color: #ffff00;
}