*{
    box-sizing: border-box;
}
.container{
    width: 1000px;
    height: 727px;
    margin :auto;
    border:1px #000000 solid;
    background-color: #808080;
    padding: 1em;

}
.sub-container-1,.sub-container-3{
    width: 900px;
    height:100px;
    border:1px #000000 solid;
    
}
.sub-container-2{
    width: 900px;
    height:400px;
    
    
}
.sub-container-1,.sub-container-2{
    display:block;
    margin: 20px;
}
.sub-container-3
 {
    position: relative;

display: block;
background-color: #fff8dc;
margin: 47px;
right: 5px;
    
}
.sub-container-1{
    background-color:#fff8dc;  
}
.sub-container-2-split1{
    width:70%;
    height:400px;
    margin:  3px;
   
}

.sub-container-2-split2{
    width:28%;
    height:400px;
    margin: 3px;
    
}
.sub-container-2-split1,.sub-container-2-split2{
    display: inline-block;
}
.split-1{
    width: 69%;
    height: 400px;
    margin: 2px;
   
}
.split-2{
    width:28%;
    height:400px;
    margin: 2px;
    
}

.split-1,.split-2{
    display: inline-block;
}
.split-1-small{
    
    width: 100%;
    height: 100px;
    margin: 2px;
    border: 1px #000000 solid;
}
.split-1-big{
    
    
    width: 100%;
    height: 300px;
    margin: 2px;
    border: 1px #000000 solid;
    background-color: #fff8dc;
    position: relative;
bottom: 272px;
}

.square-1{
      
    width: 38%;
    height: 100px;
    display: inline-block;
    margin: 7px;
    background-color: #fff8dc;
    position: relative;
    bottom: 298px;
}
.square-2-big,.square-2-small{
    display:block;
}
.square-2-big{
    width: 99%;
    height: 250px;
    margin: 2px;
    
}
.square-2-small{
    width: 99%;
    height: 100px;
    margin: 8px;
    background-color: #fff8dc;
}
.square-2-big-split{
    width: 99%;
    height: 100px;
    margin: 13px;
    background-color: #fff8dc;
    display:block;
}