*{
    box-sizing: border-box;
}



.container{
    width: 100%;
    height:493px;
    background-color: #6e5c97;
}

.nav{
    overflow: hidden;
  background-color:#7c99c2;
  
}
.nav a {
  float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .nav a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #7c99c2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


  .block-1{
    width: 99%;
    height: 267px;
    display: block;
    
    border: 2px  #6e5c97   solid;
  }

  #image{
    width: 35%;
height: 196px;
display: inline-block;
border: 2px #6e5c97 solid;
position: relative;
left: 40px;
margin-top: 44px;
top: 7px;
  }
.article{
    width: 54%;
    height: 159px;
    display: inline-block;
    border: 2px#6e5c97 solid;
    position: relative;
    left: 79px;
    right: 30px;
    bottom: 20px;
    margin-right: 44px;
    margin-top: 74px;
    top: -22px;
}




#block-2{
    width: 89%;
    height: 93px;
    display: block;
    border: 2px #6e5c97 solid;
    margin-top: 22px;
    margin-left: 43px;
    margin-bottom: 54px;
    margin-right: 89px;
}

.monospace {
    font-family: "Lucida Console", Courier, monospace;
    color:white;
  }
  .span_tag-red{
      color: #ff0000;
  }
  #span_tag-blue{
      color:#0000ff;
  }
  img{

  }